html, body {
  height: 100%;
  width: 100%;
  margin:0px;  
}
body {
  padding-top: 85px;
}
.jumpto { 
  margin-top: -110px;        /* Size of fixed header */
  padding-bottom: 110px; 
  display: block; 
}

.logo-ifrc{
  height:100%;
  background: #fff;
}
.logo-prc{
  height: 60px;
  margin-right: 20px; 
}

.nav-admin{
  height: 85px;
  position: fixed;
  top: 0;
  width: 100%;
  background: #222;
  padding: 15px;
  z-index: 99999;
}
.nav-text{
  font-weight: 500;
  font-size: 18px;
  color: #f5f5f5;
}
.nav-text small {
  font-weight: 400;
  font-size: 14px;
  color: #a0a1a3;
}

#loading {
  position: fixed;
  z-index: 99999;
  width: 100%;
  text-align: center;
}
#loader{
  height: 280px;
  margin-top: 10px;
}

svg {
  height: auto;
  padding: 30px;
}
.percText-1 {
  color: #4393c3;
  font-weight: 900;
}
.percText-2 {
  color: #f4a582;
  font-weight: 900;
}
.percText-3 {
  color: #fddbc7;
  font-weight: 900;
}
.box-chart {
  width:180px;
  height:180px;
  text-align: center;
  float: right;
}
.box-chart-no-float{
  width:180px;
  height:180px;
  text-align: center;
}
.text-tagalog {
  color: #999;
}

.btn:focus, .btn:active {
  outline: 0 !important;
}